<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <style>
        img {
            width: 1280px;
            height: 590px;
            object-fit: fill;
        }
    </style>
</head>

<body>
    <div class="background">
        <!-- <div class="shape"></div>
        <div class="shape"></div> -->
    </div>
    <img src="/images/refinery.jpg" alt="Italian Trulli">
    <form action='auth' method="POST">
        <h3>Login Here</h3>
        <!-- <img src="/images/logo.png" alt="Italian Trulli"> -->
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Email or Phone" id="username" required>

        <label for="password">Password</label>
        <input type="text" name="password" placeholder="Password" id="password" required>
        <button type="submit">Log In</button>
        
    </form>
</body>

</html>