body {
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
}

.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;


}
div.table-wapper {
  background-color: #F5F7FA;
  position: sticky;
  top: 0;
}

.fixTableHead {
  overflow-y: auto;
  height: 500px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  background-color: #F5F7FA;
  border-top: 10px solid black; 
  
}

#total{
  float: right;
  padding-top: 25px;
  padding-right: 30px;
  font-size: 15px;
}

#style-1{
  cursor: pointer;
}

#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5; 
}

#style-1::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
  cursor: pointer;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}

.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}

.table-title .add-new i {
  margin-right: 4px;
}

table.table {
  table-layout: fixed;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  cursor: auto;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table th:last-child {
  width: 100px;
}

table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  /* min-width: 24px; */
}

table.table td a.add {
  color: #27C46B;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #E34724;
}

table.table td i {
  /* font-size: 19px; */
  font-size: 15px;
}

table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}

table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}

table.table .form-control.error {
  border-color: #f50000;
}

table.table td .add {
  display: none;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
      -webkit-transform: scale(0)
  }

  to {
      -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
      transform: scale(0)
  }

  to {
      transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }

  .cancelbtn {
      width: 100%;
  }
}

.modalcontainer {
  width: 1000px;
  height: 300px;
  padding: 16px;
  overflow-y: auto;
  /* height: 500px; */
  /* background-color: #04AA6D; */
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

