* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5F7FA;
}

.container {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    min-height: 501.33px;
    width: 1141.33px;
    float: left;
    padding: 0%;
    cursor: crosshair;
    overflow: auto;
}

.containerX {
    padding-top: 2px;
    padding-left: 10px;
    width: 10%;
    float: right;
    background-color: lightgray;
    color: black;
}

.containerY {
    padding-top: 2px;
    padding-left: 6px;
    min-height: 10px;
    background-color: lightgrey;
    color: black;
}

.vr {
    height: 500px;
    width: 2px;
    background-color: orangered;
    float: left;
}

.hr {

    height: 2px;
    width: 1140px;
    background-color: orangered;
    left: 10px;
}

#dragThisX {
    width: 65px;
    height: 20px;
    font-size: xx-small;
    position: absolute;
    top: 515px;
    float: right;

}

#dragThisY {
    margin-top: 10px;
    width: 65px;
    height: 20px;
    font-size: xx-small;
    float: left;
    left: 1155px;
    opacity: 0;
}

#XpoX{
    position: absolute;
    left: 0px;
}


#YposY {
    padding-top: 1.2%;
}
.linehl{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 1140px;
    height: 500px;
}
.linevl{
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 1140px;
    height: 500px;

}
.hl {
    border: 1px solid lightgrey;
    height: 1px;
    width: 1140px;
    margin: auto;
    left: 0px;
    top: 20px;
    position: absolute;
}

.vl {
    position: absolute;
    border-left: 2px solid lightgray;
    height: 500px;
    left: 0px;
    padding-left: 110px;
}

.vl:hover {
    cursor: grab;
}

#minPrice {
    /* background-color: blueviolet; */
    position:absolute;
    top: 495px;
    left: 1155px;
    width: 50px;
    font-size: x-small;
}
#maxPrice{
    /* background-color: orchid; */
    position: absolute;
    top: 10px;
    left: 1155px;
    width: 50px;
    font-size: xx-small;

}

.maxPriceChild{
    /* background-color: orchid; */
    position: absolute;
    top: 0px;
    left: 1155px;
    width: 50px;
    font-size: xx-small;

}

.dotr {
    position: absolute;
    left: 1150px;
    height: 2px;
    width: 3px;
    top: 10px;
    background-color: black;
    /* border-radius: 50%; */
    display: inline-block;
}
.dotb {
    position: absolute;
    left: 10px;
    height: 4px;
    width: 2px;
    top: 510px;
    background-color: black;
    /* border-radius: 50%; */
    display: inline-block;
}

.candle{
    position: absolute;
    background-color: grey;
    top: 10px;
    height: 500px;
    width: 8px;
    left: 1125px;
    z-index: -1;
}

.parentDotb{
    position: absolute;
    top: 0px;
    /* left: 10px; */
}
.dotb{
    position: absolute;
    left: 0px;  
    display: inline;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}